


.container-width {
  padding: 30px 60px;
  max-width: 100%;
}


.our-additional-services {
  padding: 0 150px;
}

.page-title{
  font-size: 64px;
}

.card-title{
  font-size: 24px;
  margin-bottom: 15px;
}

.footer-container {
  color: white;
  background-color: #D63000;
  padding: 100px 0px;
}

.footer-content-container{
  display: flex;
  justify-content: space-between;
  gap: 80px;
}

.footer-card-title {
  font-size: 24px;
}
.footer-container .accordion-item {
  background-color: #d63000;
  border: none;
  box-shadow: none;
}
.footer-container .accordion-header {
  border-bottom: none;
}
.footer-container .accordion-body {
  padding: 5px 20px 16px !important;
}
.footer-container .accordion-button {
  background-color: #d63000;
  color: white;
  font-weight: bold;
  border: none;
  box-shadow: none;
  padding-right: 20px;
  padding-left: 0;
  font-weight: 400 !important;
  padding-top: 0;
}

.footer-container .accordion-button::after{
  background-image: none;
}
.footer-container .accordion-button::after {
  content: '\f078'; /* Unicode for the font-awesome down arrow */
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: white;
  position: absolute;
  left: 100px;
  top: 4px;
  font-size: 10px;
  right: auto; /* Positioning the icon */
  transform: rotate(0deg) ;
  transition: transform 0.3s ease-in-out;
}
.accordion-button:not(.collapsed)::after {
  transform: rotate(180deg);
  left: 90px;
  top: -4px;
}

.footer-container .accordion-body {
  background-color: #d63000;
  color: white;
  border-top: none;
}
.footer-container .accordion-button:not(.collapsed) {
  color: white;
  background-color: #d63000;
}
.footer-container .accordion-button.collapsed {
  color: white;
  background-color: #d63000;
}

/* --------------------------------
            responsive 
---------------------------------*/
@media only screen and (max-width: 576px) {
  .container-width {
    padding: 10px;
  }
  .navbar {
    padding: 10px;
  }
  .our-additional-services {
    padding: 15px;
  }
  .page-title{
    font-size: 40px;
  }

  .footer-content-container{
    flex-direction: column;
    gap: 60px;
  }
}


@media only screen and (min-width: 576px) and (max-width: 768px) {
  .our-additional-services {
    padding: 20px;
  }

  .page-title{
    font-size: 40px;
  }

  .footer-content-container{
    flex-direction: column;
    gap: 60px;
  }
}
